header {
	box-shadow:0 0 10px 5px rgba(0,0,0,0.3);
	color:$heading-color;
	position:fixed;
	width:100%;
	background-color:white;
	z-index:100;
	@media (max-width: 768px) {
		display:block;
	}
	.wrapper {
		display:flex;
		justify-content:space-between;
		padding:0 15px;
	}
}

.logo {
	display:flex;
	align-items:center;
	font-weight:400;
	position:relative;
	.logo-text {
		position:absolute;
		top:35px;
		left:17px;
		font-weight:300;
		font-size:36px;
		font-family:$font-fancy-stack;
		&:first-letter {
			color:$secondary-color;
			padding-right:25px;
		}
	}
	img {
		position:absolute;
		height:50px;
		max-width:50px;
		left:0;
		top:23px;
	}
}

nav {
	margin:40px 0 25px 0;
	font-family:$font-base-stack;
	font-size:12px;
	@media (max-width: 768px) {
		margin:30px 0 29px 0;
		width:100%;
	}
	.mobile {
		display:none;
		font-size:35px;
		color:$heading-color;
		text-align:right;
		cursor:pointer;
		@media (max-width: 768px) {
			display:block;
		}
	}
	ul {
		@media (min-width: 769px) {
			display:flex!important;
			justify-content:flex-end;
			flex-wrap:wrap;
		}
		@media (max-width: 768px) {
			display:none;
			padding-top:25px;
			height:100vh;
		}
		li {
			margin-left:50px;
			list-style-type:none;
			text-transform:uppercase;
			@media (max-width:1200px) {
				margin-left:35px;
			}
			@media (max-width:940px) {
				margin-left:20px;
			}
			@media (max-width: 768px) {
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				align-items:center;
				margin:5px 0;
				font-size:20px;
				float:left;
				width:50%;
				height:calc((calc(100vh - 145px)) / 4);
			}
			&:first-child {
				margin-left:0;
			}
			a {
				color:$heading-color;
				display:block;
				&:hover, &:focus {
					color:$accent-color;
				}
				@media (max-width: 768px) {
					padding:10px;
					&.current {
						color:$accent-color;
					}
				}
				&.current:after {
					content:"\f111\00a0\00a0\f111\00a0\00a0\f111";
				   font-family:FontAwesome;
					display:block;
					font-size:6px;
					text-align:center;
					color:$accent-color;
					margin-top:3px;
					@media (max-width: 768px) {
					display:none;
					}
				}
			}
		}
	}
}