/* HERO */
.hero {
	position:relative;
	z-index:-10;
	padding-top:95px;
	.wrapper {
		height:calc(100vh - 95px);
		min-height:575px;
		position:relative;
		padding:0 15px;
		@media screen and (max-device-width:768px) {
			height:100%;
		}
		@media (max-width: 768px) {
			min-height:550px;
		}
		@media (min-width:400px) and (max-width: 480px) {
			min-height:525px;
		}
		&:before {
			content:"";
			width:30px;
			height:100%;
			background-color:#f9b460;
			display:block;
		}
	}
}

.hero-navigation {
	position:absolute;
	left:0;
	top:55%;
	transform:translate(0, -55%);
	z-index:10;
	img {
		display:block;
	}
	@media (max-width:1350px) {
		display:none;
	}
}

.hero-text {
	width:calc(100% - 30px);
	max-width:800px;
	background-color:white;
	border-top:30px solid #f9b460;
	border-right:30px solid #f9b460;
	border-bottom:30px solid #f9b460;
	border-left:none;
	padding:50px 50px 50px 0;
	color:$heading-color;
	position:absolute;
	left:15px;
	top:70%;
	transform:translate(0, -70%);
	@media (max-width: 768px) {
		text-align:center;
		padding:30px 15px;
	}
	.sideways {
		transform:rotate(-90deg) translateX(-232px);
		font-weight:300;
		text-transform:uppercase;
		letter-spacing:0.9rem;
		margin-right:-0.9rem;
		width:25px;
		font-size:24px;
		position:absolute;
		top:0;
		left:0;
		margin-bottom:0;
		@media (max-width: 768px) {
			transform:rotate(0) translateX(0);
			position:static;
			font-size:30px;
			width:auto;
		}
		@media (max-width: 480px) {
			font-size:22px;
		}
	}
	h1 {
		padding-left:45px;
		text-shadow:3px 3px 0 #e8e8e8;
		@media (max-width: 768px) {
			padding-left:0;
		}
		.heading-1 {
			font-size:75px;
			font-weight:400;
			@media (max-width: 768px) {
				font-size:50px;
			}
			@media (max-width: 480px) {
				font-size:35px;
			}
		}
		.heading-2 {
			font-size:145px;
			font-weight:700;
			text-transform:uppercase;
			@media (max-width: 768px) {
				font-size:85px;
			}
			@media (max-width: 480px) {
				font-size:60px;
			}
			@media (max-width: 400px) {
				font-size:45px;
			}
		}
	}
	p {
		line-height:2;
		font-size:16px;
		@media (max-width: 480px) {
			font-size:14px;
		}
	}
}


/* ABOUT */
.about {
	padding:100px 0;
	position:relative;
	background-image:url(../images/about2.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	@media (max-width:1600px) {
		background-position:125% top;
	}
	@media (max-width:1200px) {
			background-image:none;
	}
	@media (max-width: 768px) {
		padding:50px 0;
	}
	.about-intro, .about-icons {
		display:flex;
		flex-wrap:wrap;
	}
}

.about-intro {
	margin-bottom:50px;
	.col23 {
		@media (max-width:1200px) {
			width:80%;
		}
		@media (max-width:940px) {
			width:70%;
		}
		@media (max-width:768px) {
			width:100%;
		}
		.heading {
			border-right:1px solid $accent-color;
			border-bottom:1px solid $accent-color;
			position:relative;
			padding:0 10px 10px 0;
			max-width:360px;
			&:before {
				border-right:1px solid $accent-color;
				border-bottom:1px solid $accent-color;
				content:"";
				display:block;
				position:absolute;
				top:0;
				left:0;
				right:3px;
				bottom:3px;
			}
			p {
				margin-bottom:0;
			}
		}
		p {
			margin-bottom:20px;
		}
		.circles {
			width:23px;
			display:block;
			margin-bottom:10px;
		}
		a {
			&:before {
				content:"\f111\00a0\00a0\f111\00a0\00a0\f111";
			   font-family:FontAwesome;
				display:block;
				font-size:7px;
				margin-bottom:7px;
			}
		}
	}
	.col13 {
		@media (max-width:1200px) {
			width:20%;
			padding:10px;
		}
		@media (max-width:940px) {
			width:30%;
		}
		@media (max-width:768px) {
			width:100%;
			text-align:center;
		}
		img {
			&:first-child {
				margin-top:15px;
				@media (max-width:1200px) {
					margin-top:0;
				}
				@media (max-width:480px) {
					display:none
				}
			}
			&:nth-child(2) {
				display:none;
				@media (max-width:1200px) {
					display:block;
					width:370px;
					padding:5px;
				}
				@media (max-width:768px) {
					display:none
				}
			}
		}
	}
}

.about-icons {
	text-align:center;
	.col13 {
		@media (max-width:768px) {
			width:50%;
			margin-bottom:50px;
			&:last-child {
				margin:0 auto;
			}
		}
		@media (max-width:480px) {
			width:100%;
		}
	}
	.icon-corners {
		width:100px;
		height:100px;
		margin:0 auto 25px auto;
		position:relative;
		&:before, &:after, .icon-inner-corners:before, .icon-inner-corners:after {
			content:"";
			position:absolute;
			width:50px;
			height:50px;
			border-color:$accent-color;
			border-style:solid;
		}
		&:before {
			top:0;
			left:0;
			border-width:1px 0 0 1px;
		}
		&:after {
			top:5px;
			left:5px;
			border-width:1px 0 0 1px;
		}
		.icon-inner-corners:before {
			bottom:0;
			right:0;
			border-width:0 1px 1px 0;
		}
		.icon-inner-corners:after {
			bottom:5px;
			right:5px;
			border-width:0 1px 1px 0;
		}
		img {
			padding:25px;
		}
	}
	p {
		margin:20px 0 25px 0;
	}
	@media (max-width:768px) {
		img {
			margin-bottom:25px;
			&:last-child {
				margin-bottom:0;
			}
		}
	}
}


/* DIVIDER */
.divider {
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	.col13 {
		position:relative;
		padding:0;
		@media (max-width:768px) {
			width:100%;
			&:first-of-type {
				order:2;
			}
		}
		&.image-1, &.image-2, &.image-3 {
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
			&~img {
				visibility:hidden;
			}
		}
		&.image-1 {
			background-image:url(https://unsplash.it/775/600?image=1059);
		}
		&.image-2 {
			background-image:url(https://unsplash.it/775/600?image=1061);
		}
		&.image-3 {
			background-image:url(https://unsplash.it/775/600?image=1060);
		}
		img {
			display:block;
		}
		.overlay {
			margin-bottom:0;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			background-color:rgba(236,236,236,0.9);
			padding:30px;
			width:100%;
			transition:0.5s opacity;
			opacity:0;
			&.active {
				opacity:1;
			}
			@media (min-width:769px) and (max-width:940px) {
				font-size:20px;
			}
			h3 {
				margin-bottom:0;
			}
			i.fa {
				font-size:25px;
				color:$heading-color;
			}
		}
		.hover-overlay {
			position:absolute;
			top:0;
			width:100%;
			height:100%;
			background-color:rgba(247,148,29,0.9);
			color:$secondary-color;
			transition:0.5s opacity;
			opacity:0;
			&.active {
				opacity:1;
				.text img {
					cursor:pointer;
				}
			}
			.text {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%, -50%);
				width:100%;
				padding:30px;
				h3 {
					color:$secondary-color;
					@media (min-width:1001px) and (max-width:1200px) {
						display:none;
					}
					@media (min-width:769px) and (max-width:1000px) {
						font-size:20px;
					}
					@media (max-width:480px) {
						display:none;
					}
				}
				p {
					margin-bottom:20px;
					@media (min-width:769px) and (max-width:1000px) {
						display:none;
					}
				}
				img {
					display:inline-block;
				}
			}
		}
	}
}


/* SERVICES */
.services {
	padding:100px 0;
	@media (max-width: 768px) {
		padding:50px 0;
	}
	.wrapper {
		display:flex;
		flex-wrap:wrap;
		.col23 {
			display:flex;
			flex-wrap:wrap;
			padding:0;
			@media (max-width:940px) {
				width:100%;
			}
			.col12 {
				@media (max-width:480px) {
					width:100%;
				}
			}
		}
		.col13 {
			@media (max-width:940px) {
				width:50%;
			}
			@media (max-width:480px) {
				width:100%;
			}
		}
		.col13.gear {
			@media (max-width:940px) {
				order:2;
			}
			@media (max-width:480px) {
				display:none;
			}
		}
		.icons-heading {
			img {
				float:left;
				margin-right:25px;
			}
			h3 {
				font-weight:400;
				text-transform:uppercase;
				color:$primary-color;
				line-height:42px;
				margin-top:25px;
			}
		}
	}
}


/* NEWSLETTER */
.newsletter {
	display:flex;
	flex-wrap:wrap;
	background-color:$heading-color;
	.col15, .col35 {
		padding:40px 15px;
	}
	.col15 {
		text-align:center;
		display:flex;
		flex-wrap:wrap;
		@media (max-width:1200px) {
			width:25%;
		}
		@media (max-width:480px) {
			padding:25px 15px;
		}
		&:first-child {
			position:relative;
			img {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%, -50%);
			}
			@media (max-width:1200px) {
				display:none;
			}
		}
		&:last-child {
			background-color:$accent-color;
			@media (max-width:940px) {
				width:30%;
			}
			@media (max-width:768px) {
				width:40%;
			}
			@media (max-width:480px) {
				width:100%;
			}
		}
		.subscribe-text {
			margin:auto;
			padding:0;
			background-color:none;
			h3 {
				color:#111;
				font-size:28px;
				text-transform:uppercase;
				letter-spacing:5px;
				margin-right:-5px;
				margin-top:10px;
				margin-bottom:0;
				@media (min-width:481px) and (max-width:768px) {
					font-size:22px;
				}
			}
			img {
				@media (max-width:480px) {
					display:none;
				}
			}
		}
	}
	.col35 {
		border-right:3px solid #111;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		padding:10px 0;
		@media (max-width:1200px) {
			width:75%;
		}
		@media (max-width:940px) {
			width:70%;
		}
		@media (max-width:768px) {
			width:60%;
		}
		@media (max-width:480px) {
			width:100%;
			border-right:none;
			border-bottom:3px solid #111;
		}
		.col13, .col23 {
			margin:auto 0;
			@media (max-width:940px) {
				width:100%;
			}
			@media (max-width:480px) {
				text-align:center;
			}
		}
		h2 {
			color:$secondary-color;
			font-weight:300;
			font-size:45px;
		}
		h3 {
			color:$accent-color;
			font-weight:400;
			font-size:30px;
			margin-top:20px;
			margin-bottom:10px;
		}
		input {
			background-color:#4f4c4d;
			padding:15px 20px;
			border:1px solid #636363;
			color:#636363;
			font-weight:300;
			width:100%;
			max-width:300px;
		}
	}
}


/* PORTFOLIO */
.portfolio {
	padding:100px 0;
	@media (max-width: 768px) {
		padding:50px 0;
	}
}

.portfolio-heading {
	display: flex;
	justify-content: space-between;

	@media (max-width: 550px) {
		flex-wrap: wrap;
	}
}

.portfolio-navigation {
	display: flex;
	height: 35px;
	padding-right: 15px;
	margin-top: 5px;

	@media (max-width: 550px) {
		padding-left: 15px;
		margin-left: auto;
		margin-bottom: 10px;
	}

	a {
		color: $heading-color;
	}

	&-prev {
		img {
			transform: rotate(180deg);
		}
	}

	&-next {
		text-align: right;
	}

	&-divider {
		width: 1px;
		background-color: $heading-color;
		transform: rotate(30deg);
		margin: -5px 5px;
	}
}

.portfolio-gallery {
	display:flex;
	flex-wrap:wrap;
	.col11, .col13 {
		display:flex;
		flex-wrap:wrap;
		padding:0;
	}
	.col13 {
		@media (max-width:940px) {
			width:50%;
		}
		@media (max-width:480px) {
			width:100%;
		}
		&.third {
			@media (max-width:940px) {
				width:100%;
			}
		}
	}
	.view-more, .view-less {
		display:none;
		@media (max-width:480px) {
			display:block;
			background-color:$accent-color;
			color:white;
			border:none;
			outline:none;
			padding:15px 20px;
			margin:15px auto;
		}
	}
	.view-less {
		display:none;
	}
	.portfolio-image {
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		position:relative;
		margin:15px;
		overflow:hidden;
		cursor:pointer;
		&:hover {
			i.fa-search {
				font-size:60px;
			}
		}
		.opaque {
			opacity:1;
		}
		i.fa-search {
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			color:rgba(256,256,256,0.8);
			font-size:50px;
			transition:0.3s font-size;
		}
		img.holder-image {
			visibility:hidden;
		}
		&.portfolio-1 {
			width:calc(50% - 30px);
			background-image:url(../images/portfolio1.jpg);
			@media (max-width:940px) {
				width:calc(100% - 30px);
				order:-1;
			}
			@media (max-width:550px) {
				width:calc(100% - 30px);
			}
		}
		&.portfolio-2, &.portfolio-3 {
			width:calc(25% - 30px);
			@media (max-width:940px) {
				width:calc(50% - 30px);
			}
			@media (max-width:550px) {
				width:calc(100% - 30px);
			}
		}
		&.portfolio-2 {
			background-image:url(../images/portfolio2.jpg);
		}
		&.portfolio-3 {
			background-image:url(../images/portfolio3.jpg);
		}
		&.portfolio-4 {
			background-image:url(../images/portfolio4.jpg);

		}
		&.portfolio-5 {
			background-image:url(../images/portfolio5.jpg);
			@media (max-width:940px) {
				width:calc(50% - 30px);
			}
			@media (min-width:551px) and (max-width:940px) {
				height:calc(50% - 30px);
			}
			@media (max-width:550px) {
				width:calc(100% - 30px);
			}
			@media (max-width:480px) {
				display:none;
			}
		}
		&.portfolio-6 {
			background-image:url(../images/portfolio6.jpg);
			@media (max-width:480px) {
				display:none;
			}
		}
		&.portfolio-7 {
			background-image:url(../images/portfolio7.jpg);
			@media (max-width:480px) {
				display:none;
			}
		}
		&.portfolio-8 {
			background-image:url(../images/portfolio8.jpg);
			@media (max-width:940px) {
				width:calc(50% - 30px);
			}
			@media (max-width:550px) {
				width:calc(100% - 30px);
			}
			@media (max-width:480px) {
				display:none;
			}
		}
		&.portfolio-9 {
			background-image:url(https://unsplash.it/435/623?image=1080);
			@media (max-width:480px) {
				display:none;
			}
		}
	}
}

.portfolio-overlay {
	background-color:rgba(66,62,63,0.9);
	padding:30px;
	color:$secondary-color;
	text-align:center;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:0.5s opacity;
	padding:25px;
	@media (max-width:1200px) {
		padding:15px;
	}
	i.fa-times {
		position:absolute;
		top:10px;
		right:10px;
		font-size:20px;
		color:rgba(256,256,256,0.8);
		z-index:90;
	}
	.overlay-text {
		margin-top:15%;
		position:relative;
	}
	h3 {
		color:$secondary-color;
		font-weight:400;
		font-size:26px;
		margin-bottom:10px;
		@media (max-width:1200px) {
			font-size:22px;
		}
	}
	h3 ~ img {
		padding:10px;
		@media (max-width:650px) {
			display:none;
		}
	}
	.more-info {
		background-color:$accent-color;
		position:absolute;
		bottom:15%;
		right:0;
		border-top-left-radius:50px;
		border-bottom-left-radius:50px;
		padding:10px;
		transition:0.3s right;
		@media (max-width:600px) {
			bottom:10%;
		}
		@media (max-width:480px) {
			bottom:5%;
		}
		img {
			transition:0.2s transform;
			padding:0 15px;
			cursor:pointer;
			&:hover, &:focus {
				transform:scale(1.1);
			}
		}
	}
	&.small {
		width:100%;
		.overlay-text {
			margin-top:0;
			padding:30px;
			position:absolute;
			top:50%;
			left:50%;
			width:100%;
			transform:translate(-50%,-50%);
			@media (max-width:1200px) {
				padding:15px 25px;
			}
		}
		h3 {
			margin-top:0;
			@media (max-width:550px) {
				display:none
			}
		}
		.more-info {
			right:-150px;
			padding-left:30px;
			.plus, .minus {
				font-size:20px;
				position:absolute;
				top:50%;
				left:10px;
				transform:translate(0,-50%);
			}
			.minus {
				display:none;
			}
		}
	}
}


/* TEAM */
.team {
	padding:100px 0 75px 0;
	@media (max-width: 768px) {
		padding:50px 0 25px 0;
	}
	background-color:$heading-color;
	color:$tertiary-color;
	h2 {
		color:$secondary-color;
	}
	.wrapper {
		display:flex;
		flex-wrap:wrap;
		.col25 {
			@media (max-width:1349px) {
				width:50%;
			}
			@media (max-width:940px) {
				width:40%;
			}
			@media (max-width:768px) {
				width:100%;
			}
			.heading {
				padding:0;
			}
			.navigation {
				margin-top:50px;
				@media (max-width:768px) {
					text-align:center;
				}
				@media (max-width:480px) {
					display:none;
				}
				img.flip {
					transform:scaleX(-1);
					margin-right:10%;
				}
			}
		}
		.col35 {
			display:flex;
			flex-wrap:wrap;
			@media (max-width:1349px) {
				width:50%;
			}
			@media (max-width:940px) {
				width:60%;
			}
			@media (max-width:768px) {
				width:75%;
				margin:0 auto;
			}
			@media (max-width: 600px) {
				width:100%;
			}
			.col45 {
				position:relative;
				color:$secondary-color;
				text-align:center;
				padding:0;
				@media (max-width:1349px) {
					width:100%;
				}
			}
			.col15 {
				display:none;
				@media (min-width:1350px) {
					display:block;
					position:relative;
					i.fa {
						position:absolute;
						color:$accent-color;
						font-size:115px;
						transition:0.3s transform;
						&:hover, &:focus {
							transform:scale(1.15);
						}
						&:first-child {
							top:0;
							left:-60px;
						}
						&:nth-child(2) {
							top:-40px;
							left:45px;
						}
						&:nth-child(3) {
							font-size:135px;
							top:105px;
							left:0;
						}
						&:nth-child(4) {
							top:80px;
							left:125px;
						}
						&:nth-child(5) {
							top:245px;
							left:15px;
						}
						&:nth-child(6) {
							top:215px;
							left:125px;
						}
					}
				}
			}
		}
	}
}

.team-overlay-all {
	border-radius:50%;
	overflow: hidden;
	position: absolute;
	@media (max-width:768px) {
		position:relative;
	}
	&:hover .team-overlay, &:focus .team-overlay {
		background-color:transparent;
		color:transparent;
		height:0;
		h3 {
			color:transparent;
		}
		img {
			opacity:0;
		}
	}
	.team-overlay {
		position:absolute;
		bottom:0;
		width:100%;
		height:50%;
		padding:5% 15% 0 15%;
		background-color:rgba(247,148,29,0.8);
		transition:0.5s background-color, 0.5s color, 0.5s height;
		@media (max-width:480px) {
			height:40%;
		}
	}
	h3 {
		color:$secondary-color;
		margin-bottom:0;
		transition:0.5s color;
	}
	p.bold {
		font-style:italic;
		margin:10px 0;
	}
	img {
		transition:0.5s opacity;
	}
	p:not(.bold) {
		@media (max-width:480px) {
			display:none;
		}
	}
}


/* PRICING */
.pricing {
	.pricing-top {
		background-color:#f7f7f7;
		padding:100px 0 50px 0;
		@media (max-width:768px) {
			padding:50px 0;
		}
		.heading {
			margin-bottom:0;
		}
	}
	.col13 {
		overflow:hidden;
		@media (max-width:768px) {
			width:50%;
			margin:0 auto;
			&:last-child {
				width:100%;
			}
		}
		@media (max-width:480px) {
			width:100%;
		}
	}
	.pricing-bottom {
		padding-bottom:100px;
		text-align:center;
		font-family:$font-fancy-stack;
		.wrapper {
			display:flex;
			flex-wrap:wrap;
			.table {
				margin-top:-28px;
				background-color:white;
				transition:0.5s background-color;
				@media (max-width:768px) {
					margin-top:0;
				}
				h3 {
					&:first-child {
						font-size:100px;
						color:#d9d8d9;
						letter-spacing:10px;
						margin-right:-10px;
						margin-bottom:0;
					}
					&:nth-child(2) {
						font-size:24px;
						font-weight:400;
						color:$heading-color;
						text-transform:uppercase;
						letter-spacing:20px;
						margin-right:-20px;
						margin-top:-15px;
						margin-bottom:35px;
						@media (max-width:1200px) {
							font-size:20px;
							letter-spacing:15px;
							margin-right:-15px;
						}
						@media (min-width:481px) and (max-width:940px) {
							font-size:15px;
							letter-spacing:10px;
							margin-right:-10px;
						}
					}
					&:nth-child(3) {
						font-size:72px;
						font-weight:400;
						color:$accent-color;
						letter-spacing:3px;
						margin-right:-3px;
						@media (max-width:1200px) {
							font-size:50px;
						}
						@media (min-width:481px) and (max-width:940px) {
							font-size:45px;
						}
						.dollar-sign {
							font-size:40px;
							position:relative;
							top:-25px;
							@media (max-width:1200px) {
								font-size:30px;
								top:-15px;
							}
							@media (min-width:481px) and (max-width:940px) {
								font-size:25px;
							}
						}
						.month {
							font-weight:300;
							font-size:30px;
							position:relative;
							top:-13px;
							@media (max-width:1200px) {
								font-size:20px;
								top:-8px;
							}
							@media (min-width:481px) and (max-width:940px) {
								font-size:15px;
							}
						}
					}
				}
				li {
					list-style-type:none;
					padding:20px 15px 10px 15px;
					font-size:16px;
					color:$heading-color;
					position:relative;
					border-bottom:1px solid $tertiary-color;
					&:after, &:before {
						content:"";
						position: absolute;
						top: 100%;
						left: 50%;
						width: 0;
						height: 0;
					}
					&:before {
						border-top: solid 6px $tertiary-color;
						border-left: solid 6px transparent;
						border-right: solid 6px transparent;
						margin-left: -6px;
					}
					&:after {
						border-top: solid 5px $secondary-color;
						border-left: solid 5px transparent;
						border-right: solid 5px transparent;
						margin-left: -5px;
						z-index:10;
					}
					&:last-child {
						padding-bottom:30px;
						border:none;
						&:after, &:before {
							display:none;
						}
					}
				}
				a {
					padding:20px;
					display:block;
					color:$secondary-color;
					font-size:24px;
					background-color:$tertiary-color;
					letter-spacing:7px;
					margin-right:-7px;
					width:100%;
					transition:0.5s background-color;
					@media (min-width:481px) and (max-width:940px) {
						font-size:20px;
					}
				}
				&:hover, &:focus {
					background-color:$heading-color;
					box-shadow:5px 5px 15px rgba(0,0,0,0.15);
					h3 {
						&:nth-child(2) {
							color:$secondary-color;
						}
					}
					li {
						color:$secondary-color;
						&:after {
							border-top-color:$heading-color;
						}
					}
					a {
						background-color:$accent-color;
					}
				}
			}
		}
	}
}


/* TESTIMONIALS */
.testimonials {
  background-color:#252525;
  color:#b7b4b0;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  padding:100px 0;
  overflow:hidden;
	.col12 {
		border-top:1px solid #797979;
		border-bottom:1px solid #797979;
		padding:40px 0;
		@media (max-width:480px) {
			width:100%;
			padding:15px;
		}
	}
	.col14 {
		@media (max-width:480px) {
			display:none;
		}
		img.quote, img.left-arrow, img.right-arrow, &.before:after, &.after:before {
			position:absolute;
		}
		&.before {
			border-bottom:1px solid #797979;
			position:relative;
			img.quote {
				transform: rotate(180deg);
				top:0;
				right:100px;
				@media (max-width:768px) {
					top:75px;
					right:25px;
				}
			}
			img.left-arrow {
				top:50%;
				left:20%;
				transform:translate(0, -50%);
			}
			&:after {
				top:61px;
				right:0;
			}
		}
		&.after {
			border-top:1px solid #797979;
			position:relative;
			img.quote {
				bottom:0;
				left:100px;
				@media (max-width:768px) {
					bottom:75px;
					left:25px;
				}
			}
			img.right-arrow {
				top:50%;
				right:20%;
				transform:translate(0, -50%);
			}
			&:before {
				bottom:61px;
				left:0;
			}
		}
		&.before:after, &.after:before {
			content:"";
			background-color:#797979;
			height:1px;
			width:175px;
			transform:skewY(-35deg);
		}
	}
	h4 {
		color:$secondary-color;
		font-size:18px;
		padding:10px 0;
		&:before {
			content:"";
			display:block;
			width:90px;
			margin:0 auto;
			height:5px;
			background-color:$accent-color;
			border-radius:5px;
			margin-bottom:15px;
		}
	}
	p:first-child {
		margin-bottom:35px;
	}
}


/* BRANDS */
.brands {
	padding:50px 0;
	.wrapper {
  		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
		img {
			padding:15px;
		}
	}
}


/* CONTACT */
.contact {
	display:flex;
	flex-wrap:wrap;
	position:relative;
	color:#969092;
	#map {
		height:600px;
		width:100%;
		@media (max-width:1200px) {
			height:700px;
		}
		@media (max-width:940px) {
			height:425px;
		}
		@media (max-width:768px) {
			height:350px;
		}
		@media (max-width:480px) {
			height:300px;
		}
	}
	.col25 {
		position:absolute;
		left:0;
		top:0;
		height:100%;
		background-color:rgba(240,240,240,0.9);
		padding:50px 25px;
		display:flex;
		flex-wrap:wrap;
		@media (max-width:1200px) {
			width:50%;
		}
		@media (max-width:940px) {
			width:100%;
			position:relative;
		}
		.col35 {
			@media (min-width:941px) and (max-width:1200px) {
				width:100%;
			}
			@media (max-width:768px) {
				width:100%;
			}
			h3 {
				text-transform:uppercase;
				margin-bottom:15px;
			}
			p {
				margin-bottom:20px;
			}
			input, textarea {
				background-color:transparent;
				padding:15px 20px;
				border:1px solid #c2c2c2;
				margin-bottom:10px;
				width:100%;
				color:#969092;
				font-style:italic;
			}
			textarea {
				height:125px;
			}
			input[type="submit"] {
				background-color:$secondary-color;
				width:auto;
				font-style:normal;
				font-weight:700;
				transition:0.3s background-color, 0.3s color;
				&:hover, &:focus {
					background-color:#c2c2c2;
					color:white;
				}
				@media (max-width:480px) {
					width:100%;
				}
			}
		}
		.col25 {
			position:relative;
			background-color:transparent;
			display:block;
			padding:15px;
			text-align:center;
			@media (min-width:941px) and (max-width:1200px) {
				width:100%;
				display:flex;
				flex-wrap:wrap;
			}
			@media (max-width:940px) {
				width:40%;
			}
			@media (max-width:768px) {
				width:100%;
				display:flex;
				flex-wrap:wrap;
			}
			.address, .phone, .email {
				@media (min-width:941px) and (max-width:1200px) {
					width:33.33%;
				}
				@media (min-width:481px) and (max-width:768px) {
					width:33.33%;
				}
				@media (max-width:480px) {
					width:100%;
				}
			}
			.email ul {
				margin-bottom:0;
			}
			ul {
				margin-bottom:25px;
				li {
					list-style:none;
					a {
						color:#969092;
						&:hover, &:focus {
							color:$accent-color;
						}
					}
				}
			}
			img {
				margin-bottom:10px;
			}
		}
	}
}
