$primary-color: #84858c;
$secondary-color: white;
$tertiary-color: #c2c3c6;
$heading-color: #423e3f;
$accent-color: #f7941d;

$font-base-stack: "Open Sans", Helvetica, sans-serif;
$font-fancy-stack: "Hind", "Open Sans", Helvetica, sans-serif;